# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribuição / empacotamento
build/
dist/
*.egg-info/
*.egg
MANIFEST

# Logs do instalador
pip-log.txt
pip-delete-this-directory.txt

# Relatórios de testes unitários / cobertura
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.pytest_cache/
cover/

# Traduções
*.mo
*.pot

# Configurações locais
local_settings.py

# Ambiente virtual
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Node.js
node_modules/

# Arquivos do PyCharm
.idea/

# Arquivos do VSCode
.vscode/

# Vendor (arquivos externos copiados para o projeto)
#frontend/static/vendor/
