{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/css/home/index.css" />
{% endblock %}
{% block content %}
<div class="card my-2">
	<div class="card-body">
		<h1 class="card-title">Bem-vindo ao IA Conversacional</h1>
		<p class="card-text">Explore os serviços disponíveis:</p>
		<div class="card-group">
			<div class="card">
				<a href="/openai_services">
					<img src="/static/images/openai.webp" class="card-img-top" alt="OpenAI" />
				</a>
				<div class="card-body bg-light text-dark">
					<h5 class="card-title"><i class="bi bi-cloud"></i> OpenAI</h5>
					<p class="card-text">Serviços de IA da OpenAI.</p>
					<a href="/openai_services" class="btn btn-primary"><i class="bi bi-arrow-right-circle"></i> Acessar</a>
				</div>
			</div>
			<div class="card">
				<a href="#">
					<img src="/static/images/azureai.webp" class="card-img-top" alt="Azure AI" />
				</a>
				<div class="card-body bg-light text-dark">
					<h5 class="card-title"><i class="bi bi-microsoft"></i> Azure AI</h5>
					<p class="card-text">Serviços de IA da Azure.</p>
					<a href="#" class="btn btn-primary"><i class="bi bi-arrow-right-circle"></i> Acessar</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block scripts %}
<script src="/static/js/home/index.js" defer></script>
{% endblock %}