{% extends "layout.html" %}
{% block title %}Serviços OpenAI{% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/css/services/openai/tts_whisper.css" />
{% endblock %}
{% block content %}
<div id="ttsWhisperApp" class="card my-2">
	<div class="card-body">
		<h1 class="card-title"><i class="bi bi-volume-up"></i> TTS e Whisper</h1>
		<p class="card-text">Explore os serviços disponíveis:</p>

		<!-- Bloco para o serviço de TTS -->
		<div class="card my-2">
			<div class="card-body">
				<div class="openai-tts"></div>
			</div>
		</div>

		<!-- Bloco para o serviço Whisper -->
		<div class="card my-2">
			<div class="card-body">
				<div class="openai-whisper"></div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block scripts %}
<script src="/static/js/extensions/jquery.tts.js" defer></script>
<script src="/static/js/extensions/jquery.whisper.js" defer></script>
<script src="/static/js/services/openai/tts_whisper.js" defer></script>
{% endblock %}